@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>About Us</h1>

        <div class="image main">
            <img src="~/images/banner-image-1-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <p>Our website is your one-stop destination for hassle-free car rentals. With a wide selection of vehicles, affordable rates, and convenient booking options, we make renting a car a breeze. Whether you need a compact car for city cruising or an SUV for a family adventure, our user-friendly platform allows you to find the perfect vehicle to suit your needs. Enjoy a seamless experience with our secure online reservations, flexible rental periods, and transparent pricing. Discover the freedom of the open road with our reliable and well-maintained fleet. Rent a car with us today and start your journey with confidence.</p>
</div>
