@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<title>RENT A CAR - Team</title>
<div id="main">
    <div class="inner">
        <h1>Team</h1>

        <div class="image main">
            <img src="~/images/banner-image-2-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <img src="~/images/author-image-1-646x680.jpg" class="img-fluid" alt="" />

                    <h2 class="m-n">Daniel</h2>

                    <p>
                        CEO <br>                        
                        <a href="https://github.com/danielcojocaru02"><i class="fa fa-github"></i></a> &nbsp;

                    </p>
                </div>

                <div class="col-sm-3 text-center">
                    <img src="~/images/author-image-4-646x680.jpg" class="img-fluid" alt="" />

                    <h2 class="m-n">Dumitru</h2>

                    <p>
                        Administrator <br>

                        <a href="https://github.com/DimaNm08"><i class="fa fa-github"></i></a> &nbsp;

                    </p>
                </div>

                <div class="col-sm-3 text-center">
                    <img src="~/images/author-image-1-646x680.jpg" class="img-fluid" alt="" />

                    <h2 class="m-n">Marius</h2>

                    <p>
                        Sales Manager <br>

                        <a href="https://github.com/GrappeFruitq"><i class="fa fa-github"></i></a> &nbsp;

                    </p>
                </div>

                <div class="col-sm-3 text-center">
                    <img src="~/images/author-image-4-646x680.jpg" class="img-fluid" alt="" />

                    <h2 class="m-n">Ghoerghe</h2>

                    <p>
                        Cars Manager <br>

                        <a href="https://github.com/xxxuserr"><i class="fa fa-github"></i></a> &nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
