@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>Terms</h1>

        <div class="image main">
            <img src="~/images/banner-image-5-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <h2 class="m-n">1.Fleet Variety.</h2>
        <p>Refers to the wide selection of vehicles available for rent on the website, catering to diverse customer needs and preferences. It showcases the website's commitment to providing options ranging from economy cars to luxury vehicles, SUVs, vans, and more.</p>
        <h2 class="m-n">2.Seamless Reservation.</h2>
        <p>Highlights the user-friendly and efficient reservation system offered by the rentcar website. It emphasizes the ease with which customers can book their desired vehicle online, providing a hassle-free experience.</p>
        <h2 class="m-n">3.Competitive Pricing.</h2>
        <p>Indicates that the rentcar website offers competitive and affordable rates for renting vehicles. It assures customers that they can find cost-effective options without compromising on quality or service.</p>
        <h2 class="m-n">4.Flexible Rental Terms.</h2>
        <p>Signifies that the website provides flexible rental terms to accommodate various customer requirements. This includes options such as hourly, daily, weekly, or monthly rentals, along with the ability to customize pick-up and drop-off locations.</p>
        <h2 class="m-n">5.24/7 Customer Support.</h2>
        <p>Ensures customers that the rentcar website offers round-the-clock customer support, allowing them to seek assistance or resolve any issues at any time. It conveys the commitment to providing reliable and responsive service to enhance the overall rental experience.</p>    </div>
</div>
