@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main -->
<div id="main">
    <div class="inner">
        <h1>Testimonials</h1>

        <div class="image main">
            <img src="~/images/banner-image-3-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <div class="row">
            <div class="col-sm-6 text-center">
                <p class="m-n"><em>
    "I recently used RentCar for my vacation and I couldn't be happier with the service I received.
    The booking process was seamless and the website was easy to navigate.
    The car I rented was in excellent condition and drove smoothly throughout my trip.
    The staff at the rental counter were friendly and efficient, making the pickup and drop-off process a breeze.
    I highly recommend RentCar to anyone in need of a reliable and hassle-free car rental experience.
    I will definitely be using them again for my future travel needs!"
</em></p>

                <p><strong> - Cornea Loredan</strong></p>
            </div>

            <div class="col-sm-6 text-center">
                <p class="m-n"><em>
    "I had a fantastic experience with RentCar during my business trip last month.
    Their website provided a wide range of car options at competitive prices, making it easy for me to find the perfect vehicle for my needs.
    The booking process was quick and straightforward, and I received confirmation and all the necessary details promptly.
    The car was clean, well-maintained, and equipped with the latest technology, which made my commute comfortable and convenient.
    I highly recommend RentCar for their professionalism, reliability, and outstanding service!"
</em></p>

                <p><strong>- Bruma Nina</strong> </p>
            </div>
        </div>
