
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Admin Dashboard</h2>
<button onclick="window.location.href='/Admin/Users';">Users</button>
<button onclick="window.location.href='/Admin/Reservations';">Reservations</button>
<hr />

